/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --pad: 0 2%;
    --txt-pr-color: #31363F;
    --txt-sc-color: hsl(219, 13%, 22%, 83%);  
    --btn-bg: #024CAA;
    --btn-txt: #FFFFFF;
    --font-title: 'Lilita one';
    --font-txt: 'Poppins';
    --font-dsc: 'Montserrat';
}

/* Main Styles */
header {
    background-image: url(../img/bg.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
/* navbar */
.nav-center {
    padding: 2% 2%;
    display: flex;
    align-items: center;
    gap: 10rem;
}
.nav-header {
    display: flex;
    align-items: center;
    color: var(--btn-txt);
    font-family: 'Lilita one';
    font-size: 2.5rem;
}
#toggle {
    display: none;
}

.links {
    display: flex;
    gap: 10rem;
    margin-top: 20px;
}
li a {
    text-decoration: none;
    color: var(--btn-txt);
    font-family: 'Poppins';
    font-size: 1.1rem;
}
li a::after {
    content: '';
    display: block;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--btn-bg);
    transform: scale(0);
    transition: .2s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}
li a:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
/* Fixed navbar JS */
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: hsl(219, 13%, 22%, 90%);
}
/* Header content */
section.header-content {
    padding: var(--pad);
    margin-top: 5rem;
    color: #31363F;
}
.header-content h1 {
    width: 50%;
    letter-spacing: 2px;
    font-size: 3.5rem;
    font-family: var(--font-title);
}
.header-content h3 {
    font-family: var(--font-txt);
    font-size: 1.5rem;
    width: 35%;
    margin-top: .6rem;
    line-height: 2rem;
}
.header-content button {
    background: transparent;
    border-color: transparent;
    text-align: center;
    background-color: #024CAA;
    margin-top: 1.4rem;
    padding: .7rem 3rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.header-content button:hover {
    opacity: .7;
}
.header-content button a {
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--btn-txt);
    font-size: 1.2rem;
    font-family: var(--font-dsc);
}

/* Student input */
main{
    background-color: #D9D9D9;
    height: 13rem;
    position: relative;
}
main .input {
    position: absolute;
    left: 3.3rem;
    top: -4.5rem;
    width: 90%;
    height: 14rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 1px hsl(0, 0%, 0%, 50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* header of student input */
.input .header {
    padding: 1rem;
    background-color: #D9D9D9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 400;
    color: #024CAA;
}
.input .submit-section {
    padding: 2rem 2% 0;
    display: flex;
    gap: 6rem;
}
.dropdown {
    min-width: 15rem;
    position: relative;
}
.dropdown * {
    box-sizing: border-box;
}
.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
span.selected {
    font-family: var(--font-txt);
    font-size: 1rem;
    color: var(--txt-sc-color);
}
#dropdown-1 {
    width: 20rem;
}
#dropdown-2 {
    width: 19rem;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
}
.rotate {  /* for JS */
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.menu {
    margin-top: 5px;
    background-color: var(--btn-txt);
    border: 2px solid hsl(0, 0%, 0%, 40%);
    position: absolute;
    width: 100%;
    display: none;
    z-index: 1;
}
.menu li {
    font-family: var(--font-dsc);
    padding: 0.7rem .5rem;
    border: .5rem;
    cursor: pointer;
}
.menu li:hover {
    background: #D9D9D9;
}
.show-menu { /* JS activation */
    display: block;
}
/* form btn */
button.btn-form {
    margin-top:1.5rem ;
    margin-left: 51rem;
    background: transparent;
    border-color: transparent;
    padding: .7rem 4rem;
    background-color: var(--btn-bg);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
button.btn-form:hover {
    opacity: .9;
}
button.btn-form a {
    text-decoration: none;
    color: var(--btn-txt);
    font-family: var(--font-dsc);
    font-size: 1.1rem;
    letter-spacing: 1px;
}
/* About sc */
.choosing {
    margin-top: 3rem;
    padding: var(--pad);
    margin-bottom: 3rem;
}
.choosing .header {
    font-family: var(--font-title);
    font-weight: 500;
    color: var(--txt-pr-color);
    font-size: 2rem;
    margin-bottom: 12.4rem;
    margin-left: 5rem;
}
/* content container */
.choosing .content-container {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}
.content-container .content {
    margin-top: -9rem;
    box-sizing: border-box;
    padding: 1.5rem 1.5rem .1rem;
    border: .6px solid hsl(0, 0%, 0%, 50%);
    width: 25rem;
    box-shadow: 2px 1px 10px 1px hsl(0, 0%, 0%, 50%);
}
.content-container .content  #feather-content-1 {
    font-size: 5rem;
    color: var(--btn-bg);
    margin-bottom: 20px;
} 
.content-container .content h2 {
    color: #31363F;
    font-family: var(--font-txt);
    font-weight: 750;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.content-container .content p {
    font-family: var(--font-dsc);
    font-size: 1.1rem;
    color: var(--txt-sc-color);
    margin-bottom: 2rem;
}
.content-container .content .btn-container a{
    display: flex;
    gap: .3rem;
    text-decoration: none;
    color: var(--btn-bg);
    font-weight: 700;
}
.content-container .content .btn-container a p {
    color: var(--btn-bg);
}
.content-container .content .btn-container a i {
    margin-top: 1.5px;
}

/* Destination */
.destination {
    padding: var(--pad);
    padding-bottom: 2rem;
    background-color: #D9D9D9;
}
.destination .destination-header {
    padding-top: 3rem;
    color: var(--txt-pr-color);
}
.destination-header h1 {
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 500;
}
.destination-header p {
    font-family: var(--font-dsc);
    margin-top: .6rem;
    font-size: 1.2rem;
    font-weight: 300;
}
/* content destination */
.destination .destination-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    justify-content: center;
}
.destination-content {
    margin-top: 2rem;
    position: relative;
    z-index: 3;
}
.destination-content .destination-img img {
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.destination-content .destination-img h2 {
    top: 40%;
    left: 25%;
    position: absolute;
    z-index: 1;
    font-family: var(--font-txt);
    font-size: 2rem;
    font-weight: 700;
    color: var(--btn-bg);
}
/* destination description */
.destination-desc {
    display: none;
    top: 0;
    height: 18.5rem;
    width: 18.5rem;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: 2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.destination-desc h1 {
    font-family: var(--font-txt);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .2rem;
    color: var(--btn-bg);
}
.destination-desc p {
    font-family: var(--font-dsc);
    font-size: 1rem;
    font-weight: 300;
    color: var(--txt-sc-color);
    line-height: 1.2rem;
    margin-bottom: 3rem;
    width: 70%;
}
.destination-desc a {
    padding: .7rem 4rem;
    text-align: center;
    border: 1px solid blue;
    width: 10%;
    text-decoration: none;
    color: #D9D9D9;
    background-color: #024CAA;
    border-radius: 50px;
    font-family: var(--font-txt);
    letter-spacing: 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.destination-content:hover .destination-desc {
    display: block;
    border: 2px solid var(--btn-bg);
}
/* title selection */
#australia {
    left: 20%;
}
#selandia-baru {
    left: 12%;
}
#inggris {
    left: 29%;
}

/* About Section */
article {
    padding: var(--pad);
    height: 20rem;
}
article .header {
    margin-top: 3rem;
}
article .header h1 {
    font-family: var(--font-title);
    color: var(--txt-pr-color);
    font-size: 2rem;
    font-weight: 500;
}
article .header p {
    font-family: var(--font-dsc);
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10px;
}




/* Media Breakpoint */
@media screen and (max-width: 700px) {
    html {
        font-size: 70%;
        height: 1000rem;
    }
    header {
        background-image: url(../img/bg-mobile.png);
        background-size: cover;
        background-position: center;
    }
    /* navbar */
    nav {
        background-color: white;
    }
    .nav-center {
        display: block;
        padding: 0;
    }
    .nav-header {
        justify-content: space-between;
        align-items: center;
        color: var(--txt-pr-color);
        padding: 2% 2%;
    }
    #toggle { 
        display: inline-block;
        background: transparent;
        border-color: transparent;
        color: var(--txt-pr-color);
        font-size: 2rem;
    }
    .link-container {
        background-color: #FFFFFF;
        position: absolute;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: all .3 linear;
        -webkit-transition: all .3 linear;
        -moz-transition: all .3 linear;
        -ms-transition: all .3 linear;
        -o-transition: all .3 linear;
    }
    .links {
        display: block;
        padding-left: 2%;
    }
    .links li a{
        padding-bottom: 10px;
        height: 35px;
        display: block;
        color: var(--txt-pr-color);
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .links li a::after {
        transform-origin: 0 0;
    }
    .links li a:hover::after {
        transform: scale(.3);
        -webkit-transform: scale(.3);
        -moz-transform: scale(.3);
        -ms-transform: scale(.3);
        -o-transform: scale(.3);
    }  
    .fixed-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--btn-txt);
    }
    /* header content */
    section.header-content {
        width: 80%;
        margin: 0 auto;
        margin-top: 20rem;
    }
    .header-content h1 {
        width: 100%;
    }
    .header-content h3 {
        width: 80%;
    }
    /* submit form */
    main .input {
        margin-left: -3rem;
        width: 98%;
        height: 20.8rem;
    }
    .input .submit-section {
        gap: 1rem;       
        flex-wrap: wrap;
    }
    #dropdown-1 {
        width: 50% !important;
    }
    #dropdown-2 {
        width: 40%;
    }
    #dropdown-3 {
        margin:auto ;
        margin-top: 2rem;
    }
    button.btn-form {
        position: absolute;
        right: 0;
        width: 50%;
        left: 0;
        margin: 0 auto;
        margin-top: 2.5rem;
    }

    /* why choosing idp */
    .choosing .header {
        margin-top: 10rem;
        margin-left: 1.5rem;
    }

    /* destination section */
    .destination-container {
        display: grid;
        margin-top: 3rem;
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .destination-content {
        margin: auto;
    }
   

}
@media screen and (min-width: 700px) and (max-width: 1180px) {
    html {
        font-size: 90%;
    }
    header {
        background-position: 2030rem;
    }
    /* navbar */
    nav {
        background-color: white;
    }
    .nav-center {
        display: block;
        padding: 0;
    }
    .nav-header {
        padding: 2% 2%;
        justify-content: space-between;
        align-items: center;
        color: var(--txt-pr-color);
    }
    #toggle { 
        display: inline-block;
        background: transparent;
        border-color: transparent;
        color: var(--txt-pr-color);
        font-size: 2rem;
    }
    .link-container {
        background-color: #FFFFFF;
        position: absolute;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: all .3 linear;
        -webkit-transition: all .3 linear;
        -moz-transition: all .3 linear;
        -ms-transition: all .3 linear;
        -o-transition: all .3 linear;
    }
    .links {
        display: block;
        padding-left: 2%;
    }
    .links li a{
        padding-bottom: 10px;
        height: 35px;
        display: block;
        color: var(--txt-pr-color);
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .links li a::after {
        transform-origin: 0 0;
    }
    .links li a:hover::after {
        transform: scale(.3);
        -webkit-transform: scale(.3);
        -moz-transform: scale(.3);
        -ms-transform: scale(.3);
        -o-transform: scale(.3);
    }  
    .fixed-navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--btn-txt);
    }
    /* header content */
    section.header-content {
        margin-top: 20rem;
    }
    .header-content h1 {
        font-size: 3rem;
        width: 70%;
    }
    .header-content h3 {
        width: 60%;
    }
    /* form submit */
    .input .submit-section {
        gap: 1rem;
    }
    .input button.btn-form {
        margin-left: 33rem;
    }
   
    /* Destination section */
    .destination-container {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 0 !important;
    }

}